@import url('https://fonts.googleapis.com/css?family=Gabriela|Roboto');

.mainimg{
    background-image: url(../img/main3.jpg);
}

.maintext{
    font-family: 'Gabriela', cursive;
    padding: 150px 0;
    font-size: 4em;
}

.secondtext{
    font-family: 'Roboto', cursive;
    padding: 40px 0;
    font-size: 0.5em;
}

.text{
    font-family: 'Roboto', cursive;
    font-size: 1em;
}

.texth2{
    padding-top: 50px;
    padding-bottom: 15px;
}

.iconcolor{
    color: #7446D7;
}

.bigicon{
    font-size: 7em!important;
    color: #472B83;
}
